    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    ul{
        list-style:none;
        transition: .9s;
    }
    .contaener{
        padding-left: 10%;
        padding-right: 10%;
        margin: auto;
    }
    body{
        position: relative;
        font-family: "Oswald";
        background-color: #eee;
    }
    /*start logo*/
    .logo{
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: #fff;
        box-shadow: 0 -1px 5px #333 inset;
        z-index: 100;
    }
    .logo .boxlogo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo .boxlogo .logoimage{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 15px;
    }
    .logo .boxlogo  ul{
        margin-top: 20px;
    }
    .logo .boxlogo  ul li {
        display: inline;
        margin-left: 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform:uppercase;
        cursor: pointer;
        padding: 5px 12px;
        transition: 0.7s;
    }
    .logo .boxlogo  ul .search{
        transition: 0.7s;
    }
    .logo .boxlogo  ul .search:hover{
        color: #be4101;
    }
    .logo .boxlogo  ul li:not(.search):hover{
        background-color: #be4101;
        border-radius: 5px;
        color:white;
        font-size: 18px;
    }
    .logo .boxlogo .listlogo{
        display:none;
        font-size: 30px;
        color: black;
    }
@media (max-width:991px) {
    .logo .boxlogo  ul{
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        margin: 0px 50%;
        transform:translateX(-50%);
        background-color: #140e0e7a;
        width: 100%;
        transition: 0.7s;
            }
    .logo .boxlogo  ul .search{
        display: none;
            }
    .logo .boxlogo  ul li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        color: white;
        border-bottom: 1px solid #eeeeee2e;
        margin-left:0px;
            }
    .logo .boxlogo .listlogo{
        display:inline;
        }
    .logo .boxlogo .listlogo:hover+ul{
        display: flex;
        flex-direction: column;
        max-height: 400px;
        z-index: -2;
        }
        .logo .boxlogo .listlogo:hover+ul li{
            padding: 30px 0;
        }
    }
/*end logo*/
/*start head*/
    .head{
        width: 100%;
        height: 700px;
        background-image:url("../image/head.jfif");
        background-size:cover;
        position: relative;
        top: 100px;
        z-index: -1;
        }
    .head .point{
        position: absolute;
        left: 50%;
        top: 95%;
        transform: translateX(-50%);
        }
    .head .point a{
        margin-right: 10px;
        }
    .head .point .fa-circle{
        font-size: 12px;
        color: rgba(255, 255, 255, 0.753);
        cursor: pointer;
        }
    .head .point .pointown{
        color: rgba(19, 17, 17, 0.952);
        }
    .head .info{
        position: absolute;
        left:0%;
        top: 60%;
        margin-left: 20px;
        width: fit-content;
        padding: 20px 15px;
        z-index: 1000;
        background-color: #de50087a;
        border-radius: 13px;
        box-shadow: 3px 5px 2px #02010163;
    }
    .oneparteat{
        margin: 60px 0 150px ;
    }
@media (max-width:678px) {
    .head .info{
        display: none;
        }
    }
    .head .info h2{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: white;
        margin: 10px 0;
    }
    .head .info p{ 
        font-size: 20px;
        color: #e1e1e1e6;
        word-spacing: 3.2px;
        line-height: 1.4;
    }
        /*end head*/
        /*start part meals*/
    .partmeals{
        margin-top: 170px;
        margin-bottom: 100px;
        height: 100%;
    }   
    .partmeals .meal{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    } 
@media (max-width:991px){
    .partmeals .meal{
        flex-direction: column;}
    .marg{
        margin-bottom: 40px;
            }
    }
    .partmeals .meal .imagemeal1{
        background-image: url("../image/pizaa.jfif");
        background-size:cover;
        flex-basis: 400px;
        border-radius: 5px;
    }
    .partmeals .meal .imagemeal2{
        background-image: url("../image/rice.jfif");
        background-size:cover;
        flex-basis: 400px;
        border-radius: 5px;
        overflow: hidden;
    }
    .partmeals .meal .infomeal{
        flex-basis: 45%;
    }
    .partmeals .meal .infomeal h1{
        margin: 0 0 30px 0;
    }
    .partmeals .meal .infomeal p{
        line-height: 1.4;
    }
 /*end part meals*/
    /*start footer*/
   .footer{
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.747);
   }
   .footer .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 0 0;
        gap: 30px;
   }
   .footer .box form .text{
    display: block;
        min-width: 300px ;
        height: 25px;
        border: none;
        border: 1px solid white;
        outline: none;
        margin: 0 0 15px 0;
        border-radius: 3px;
        text-align: center;
   }
   .footer .box form .email{
    display: block;
        min-width: 300px ;
        height: 25px;
        border: none;
        border: 1px solid white;
        outline: none;
        margin: 0 0 15px;
        border-radius: 3px;
        text-align: center;
   }
   .footer .box form textarea{
    display: block;
        min-width: 300px ;
        height: 200px;
        border: none;
        border: 1px solid white;
        outline: none;
        margin: 0 0 15px 0;
        border-radius: 3px;
        padding: 4% 0 0 4%;
   }
   .footer .box .info h1{
        margin: 0 0 10px;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2.3px;
   }
   .footer .box .info .num{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        letter-spacing: 1.5px;
   }
   .footer .box .info .awesome{
        display: inline-block;
        margin-left: 50%;
        margin-top: 40px;
        transform: translateX(-50%);
        text-align: center;
   }
   .footer .box .info .awesome i{
        margin-right: 15px;
        cursor: pointer;
        font-size: 25px;
        transition: 0.7s;
   }
   .footer .box .info .awesome i:hover{
       color: white;
   }
   .footer .box .info p{
        color: #eeeeeeab;
        line-height: 1.7;
        word-spacing: 2.4px;
   }
@media (max-width:991px){
    .footer .box{
        flex-direction: column;
    }
    .footer .box .info .awesome i {
        margin-right: 8px;
        font-size: 20px;    
    }
    .footer .box .info .awesome {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .parteat .photo{
            display: inline-block;
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius:50%;
            margin-right: 15px;
            border: 1px solid white;
    }
    .box1{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 10px;
    }
    .box1 .img1{
            background-image: url("../image/mealown.jfif");
    }
    .box1 .img2{
            background-image: url("../image/mealtow.jfif");
    }
    .box1 .img3{
            background-image: url("../image/mealthree.jfif");
    }
    .box1 .img4{
            background-image: url("../image/mealfour.jfif");
    }
    /*end footer*/